@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro&display=swap');
.selector-for-some-widget {
  box-sizing: content-box;
}

.pacifico{
    font-family: 'Pacifico', cursive;
}
.source{
    font-family: 'Source Code Pro', monospace;
}

body{
    margin: 0;
    padding: 0;
    background: rgb(36,241,246);
    background: linear-gradient(65deg, rgba(36,241,246,1) 50%, 
                                        rgba(29,253,145,1) 47%,
                                          rgba(69,252,161,1) 80%);

    color: black;
    font-weight: 500;
}

a{
    text-decoration: none;
}

h1{
    font-size: 4rem;
    text-align: center;
}

table{
    margin: 0 auto;
}

#artsitsShow{
    font-size: 1.2rem;
}

div > select{
    display: block;
    position: absolute;
    width: 150px;
}

select{
    position: absolute;
}

.searchIcon{
    background-image: url(https://img.icons8.com/wired/50/000000/search.png);
    background-repeat: no-repeat;

    background-color: transparent;

    border: 0;

    width: 50px;
    height: 50px;

    position: absolute;
}

.card{
    margin: 2rem auto;
}

.card h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

.searchBarContainer{
    border: 4px solid darkgray;
    padding-top: 10px;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.searchBar > col{
    margin: 0;
}

#adrtisBrowser{
    margin-top: 2.5rem;
}

input[type="text"]{
    color: black; 
    background-color: transparent;
    border:0px !important;
    font-size: 24px !important;
    outline: none;  
}

.searchInput{
    margin-left: 0;
}

.container > .searchBar{
    border: 25px solid black;
}

input::placeholder{
    color: black;
    font-weight: 700;
    padding-left: 20px;
   height: 3rem !important;
    
}

#artistLabel{
    font-size: 1.5rem;
    color: black;
    text-align: center ;
}

tr > td,
tr > th{
    text-align: center;
}

td > img{
    width: 32px;
}

.error-msg{
    text-align: center;
}

@media (max-width: 576px){
    .tNumber{
        display: none;
    }
    .tableHeaders{
        font-size: 16px;
    }

    .tCity,
    .tDateTime{
        display: none;
    }

    .liveBandIcon{
        width: 45px;
    }

    input[type="text"]{
    font-size: 18px !important;
    }


    h1{
        font-size: 45px;
    }

    div > select{
        width: 103px;
        padding-left: 5px !important;
    }

    .searchInput{
        padding-right: 0;
        padding-left: 0;
    }

    .searchBarContainer > .searchBarColContainer{
        padding-left: 0 !important;
    }

    iframe{
        width: 80vw;
        height: 70vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    tr > td{
        font-size: 12px;
        padding: 4px;
    }

    tr > th{
        padding: 4px;
    }

    #contentTable,
    .table,
    .container{
        margin: 0;
        width: 100vw;
    }

    .searchBarContainer{
        margin-left: 5px;
        margin-right: 5px;
    }

    .filterDiv{
        width: 90px !important;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .searchInput{
        margin-left: 0!important;
    }
}