@import url('https://fonts.googleapis.com/css?family=Pacifico|Source+Code+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.pacifico,
select#filterBand,
select{
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

.source,
input[type="text"]{
    font-family: 'Source Code Pro', monospace;
}

body{
    background: rgb(36,241,246);
    background: linear-gradient(65deg, rgba(36,241,246,1) 50%, 
                                        rgba(29,253,145,1) 47%,
                                          rgba(69,252,161,1) 80%);

    color: black;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: black;
}

.hide {
    display: none;
}

.show {
    display: block;
}

header{
    padding-top: .5rem;
    display: flex;
    flex-wrap: wrap;
    vertical-align: baseline;
    margin-bottom: 2rem;
}

header .brand-header{
    display: flex;
}

header h1{
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Pacifico', cursive;
    justify-content: space-around;
}

.liveBandIcon{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .5rem;
}

.searchBarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    width: 600px;
}

select {
    padding: .5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: none;
    font-weight: 600;
}

select > option {
    background-color: rgb(60,252,157);
    border: 1px solid rgb(60,252,157);
}

input[type="text"]{
    width: 100%;
    max-width: 400px;
    color: black;
    /*background-color: transparent;*/
    font-size: 24px !important;
    padding: .6rem;
    border: .2rem solid;
    border-radius: .4rem;
    outline: none;
}

input::placeholder{
    color: black;
    font-weight: 700;
    padding-left: 20px;
   height: 3rem !important;
    
}

header,
main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin: 0 auto;
}

#artsitsShow{
    font-size: 1.2rem;
}
/*
.searchIcon{
    background-image: url("https://img.icons8.com/wired/50/000000/search.png");
    background-repeat: no-repeat;

    background-color: transparent;

    border: 0;

    width: 50px;
    height: 50px;

    position: absolute;
}*/

.card{
    margin: 2rem auto;
}

.card h2{
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
}

#artistLabel{
    font-size: 1.5rem;
    color: black;
    text-align: center ;
}

table {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

thead {
    display: table-header-group;
}

tr > th{
    padding: 0.5rem;
}

tr > td,
tr > th{
    text-align: center;
}

tr .tDateTime {
    padding-left: .5rem;
    padding-right: .5rem;
}

td img{
    width: 1.5rem;
    padding: 0 .5rem;
}

.error-msg{
    text-align: center;
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .searchInput{
        margin-left: 0!important;
    }
}

@media (max-width: 576px){

    header .brand-header {
        margin-right: auto;
        margin-left: auto;
    }

    header h1{
        margin-bottom: 1rem;
    }
    
    
    /*select#filterand,*/
    .tableHeader{
        font-size: 16px;
    }

    /*.tCity,*/
    .tDateTime{
        display: none;
    }

    input[type="text"]{
    font-size: 18px !important;
    }

    select#filterBand{
       /* width: 103px;*/
        padding-left: .2rem;
        width: 30%;
    }

    iframe{
        width: 80vw;
        height: 70vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px){
    tr > td{
        font-size: 12px;
        padding: 4px;
    }

    tr > th{
        padding: 4px;
    }

    #contentTable,
    .table,
    thead,
    thead tr,
    .container {
        margin: 0;
        min-width: 100vw;
    }

}